page-home {
  .card-background-page {
    ion-card {
      width: 343px;
      height: 137px;
      position: relative;
      text-align: left;
      border-radius: 3%;
    }

    .card-title {
      position: absolute;
      top: 10%;
      left: 5%;
      font-size: 1em;
      background-color: rgba($color: #ff4757, $alpha: 0.5);
      padding: 1%;
      width: relative;
      font-weight: bold;
      color: #fff;
    }
  }
}
